.download_buttons__button {
    width: 200px; 
    margin-right: 1.7rem;
  }
  
  
  .download_buttons {
    display: flex;
    @include content-width ($mobile-menu) {
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 4rem;
    }
    @include mobile_mobile-big-width {
      padding-top: 1.9rem;
    }
  }
  
  .custom-button {
    margin-right: 2rem;
    margin-top: 3.8rem;
    display: inline-flex;
    padding: 13px 20px;
    border-radius: 4.5rem;
    border: 1px solid $border-color-dark;
    background-color: #fff;
    color: $text-dark;
    text-decoration: none;
    @include font($size: 1.6rem, $heigth: 1.25);
    width: 100%;;
    text-align: left;
    background-color: $background-body;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @extend %transition_buttons;
    @media (any-hover: hover) and (any-pointer: fine){
      &:hover {
        background-color: $background-container;
        text-decoration: none;
        color: $text-light;
       
      }
    }
    @include mobile_mobile-big-width {
      margin-top: 2rem;
    }
  }
  
  .custom-svg {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 2px;
    fill: $text-dark;
    @extend %transition_buttons;
  }
  @media (any-hover: hover) and (any-pointer: fine){
    .custom-button:hover .custom-svg {
      fill: $text-light;
    }
  }
  
  .first {
    font-size: 1rem;
    margin-bottom: 4px;
  }
  
  .second {
    font-weight: bold;
  }
