.slider__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: $border-color-dark 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @extend %transition_buttons;
    @media (any-hover: hover) and (any-pointer: fine){
    &:hover {
      background-color: $background-container;
    }
  }
}

  .slider__btn svg {
    stroke: $text-dark;
    @extend %transition_buttons;
  }
  
  @media (any-hover: hover) and (any-pointer: fine){
  .slider__btn:hover svg{
    stroke: $text-light
  }
}

.slider__btn.inactive {
  opacity: 0.5; 
  pointer-events: none; 
}

