.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
    max-width: 205px;
  }
  
  .footer-rigth h2 {
    text-align: start;
    color: $text-light;
    letter-spacing: 0.02rem;
  }

  .contacts {
    padding-top: 3.1rem;
    @include mobile_tablet {
      padding-top: 10rem;
    }
    @include content-width ($mobile-menu) {
      padding-top: 2rem;
  }
  }
  
