.hero__promo {
    position: relative;
    z-index: 1;
  }
  
  .hero__promo-title {
    max-width: 530px;
    padding-bottom: 4rem;
   
  }
  
  .hero__promo-text {
    @include font ($size: 1.6rem, $heigth: 1.5, $weight: 400, $style: normal);
    max-width: 530px;
    @include mobile_mobile-big-width {
      @include font ($size: 1.6rem, $heigth: 1.5, $weight: 400, $style: normal);
    }
  }

  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
    object-fit: cover; 
    object-position: center;
}
  
