.modal__overlay {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    border-radius: 40px;
    background-color: $background-body;
    width: 800px;
    height: fit-content;
    overflow: auto;
    padding: 16px;
    @extend %custom-scroll;
    @include mobile_tablet{
        width: 89.5%;
    }
    @include content-width (669px){
        width: 34.2rem;
    } 
}

.modal__close-button {
    max-width: 326px;
    display: flex;
    justify-content: center;
    padding: 10px 219px;
    border-radius: 100px;
    background-color: $background-body;
    border: 1px solid $border-color-dark;
    position: absolute; 
    cursor: pointer;
    right: 16px;
    bottom: 16px;
    @include font(1.6rem, 1.5);
    @include mobile-tablet {
        padding: 10px 139px;
    }
    @include content-width (669px){
        padding: 10px 132px;
    } 
}
