$background-body: #816A9A;
$background-background:#291E35;
$background-container: #2F1E42;
$background-dark: #1F0E31;
$border-color-ligth: #795B9A;
$border-color-dark: #291E35;
$text-dark: #1F0E31;
$text-light: #ABA771;
$text-accent: #FFD700;
$overlay-color: rgba(80, 80, 80, 0.4);


$content-width: 1360px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-menu: 608px;
$mobile-big-width: 430px;
$mobile-small-width: 380px;
