.about__image-container {
    @include columns($width: calc(50% - 2rem));
    padding-top: 4rem;
    gap: 4rem;
    @include mobile_tablet {
      @include columns($width: 100%);
    }
  }
  
  .about__image-column {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    cursor: pointer;
    @include mobile_tablet {
      gap: 0;
    }
  }
  
  .about__image-cover {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    width: auto;
    height: 590px;
    @include mobile_tablet {
      width: 100%;
    }
  }
  
  #about > div > div.about__image-container > div:nth-child(2) > div:nth-child(1),
  #about > div > div.about__image-container > div:nth-child(1) > div:nth-child(2) {
    height: 430px;
    @include mobile_tablet {
      display: none;
    }
  }
  
  .about__image {
    width: 100%;
    height: 100%;
    @extend %transition;
    object-fit: cover;
    transform: scale(1.1);
    @media (any-hover: hover) and (any-pointer: fine){
    &:hover {
      transform: scale(1);
    }
  }
    @include mobile_tablet {
      transform: scale(1.06);
    }
    @include mobile_mobile-big-width {
      height: 722px;
      transform: scale(1);
      object-position: center; 
    }
  }
