.contacts_title {
    @include font(2.1rem, 1.5);
      color: $text-light;
    }
   
    .contacts_items {
      margin-top: 3.9rem;
    }
    
    .contacts_items a {
      color: $text-light;
      position: relative;
    }
    
    .contacts_items__item {
      margin-bottom: 2rem;
    }
    
    .contacts_items__item a::after {
      @include menu-link-after ($color: $background-body);
    }
    
    @media (any-hover: hover) and (any-pointer: fine){
    .contacts_items__item a:hover::after {
      width: 100%;
      transform: scaleX(1);
    }
    }
    
    .contacts {
      @include mobile_mobile-big-width{
        padding-top: 4rem;
      }
    }
