.header_search-form {
    display: flex;
    justify-content: flex-end; 
    @include mobile_tablet{
        justify-content: center; 
    }
  }
  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid $background-container;
    background-color: $background-body;
    border-radius: 20px;
    padding: 8px;
  }
  
  .search-input {
    border: none;
    background-color: transparent;
    outline: none;
    color: $text-accent;
    margin-right: 10px;
  }
  
  .search{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $text-accent;
  }
  
  .search-category {
    background-color: transparent;
    border: none;
    color: $text-accent;
    outline: none;
    cursor: pointer;
  }
  
  .search-category:focus {
    background-color: $background-container;
  }

  input[type="text"]::-webkit-input-placeholder {
    color: $text-light;
   } 
   input[type="text"]::-moz-placeholder {
    color: $text-light;
   }
  