nav.header__menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  @extend %transition;
  //will-change: transform;
  @include mobile_tablet {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    
  }
}

div.header__menu {
  display: flex;
  margin-left: auto;
  align-items: center;
  @include mobile_tablet {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 0;
    padding-bottom: 1rem;
    justify-content: center;
    padding-left: 1.5rem;
    margin: auto;
  }
}

.header__menu-list {
  display: flex;
  @include font(1.6rem, 1.5);
  @include mobile_tablet {
    display: block;
    @include font(3.2rem, 1.25);

  }
}

body > div.container > header > div > div.header__menu-block > div > a {
  margin-right: 4px;
  @include font(1.6rem, 1.5);
  @include mobile_tablet {
    padding-left: 0;
    @include font(3.2rem, 1.25);
  }
}

.header__menu-link.not-active {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #000;
  &:after {
    display: none;
  }
}

.header__menu-item {
  padding-right: 4.3rem;
  position: relative;
  &:last-child {
    padding-right: 0;
  }
  @include mobile_tablet {
    display: block;
    padding-right: 0;
    margin-bottom: 6rem;
    padding: 0;
  }
}

.header__menu-link::after,
.header__menu-item a::after {
  @include menu-link-after ($color: $border-color-dark);
  
}

@media (any-hover: hover) and (any-pointer: fine){
.header__menu-link:hover::after,
.header__menu-item:hover::after {
  transform: scaleX(1);
}
}

.header__menu-link {
  margin: auto;
  position: relative;
  @include mobile_tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    &:span {
      padding-right: 2rem;
    }
  }
}

.header__menu-link img {
  @include mobile_tablet {
    width: 40px;
    height: 40px;
    margin-left: 2rem;
  }
}
