.social-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: $border-color-ligth 1px solid;
    cursor: pointer;
    background-color: $background-container;
    @extend %transition_buttons;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    stroke: $text-light;
    stroke-linecap: "round";
    stroke-linejoin: "round";
    fill: none;
    @extend %transition_buttons;
  }
  
  @media (any-hover: hover) and (any-pointer: fine){
  .social-link:hover .social-icon {
    stroke: $text-dark;
  }
}

@media (any-hover: hover) and (any-pointer: fine){
  .social-link:hover {
    background-color: $background-body;
    
  }
}
